button {
  width: 100px;
}

ul, div {
  margin: 5px;
  padding: 5px;
}

#stage {
  border: 1px solid black;
}

#tools {
  float: right;
}

#currentObjectTool {
  border: 1px solid black;
}

#tools > ul,
#currentObjectTool > ul {
  list-style-type: none;
}
